* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {

    height: 100%;
    width: 100%;
    background: rgb(34, 193, 195);
    background: radial-gradient(circle, rgb(193, 31, 36) 00%, rgba(198, 152, 152, 0.798) 88%);

}


h1 {
    color: maroon;
}

div>h3,h5,h2{
    color:white;
}