<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejs practice</title>
</head>

<body>
    <h1>hello world</h1>
    <p>Hey I am hariom learning mern stack development to enhance my skills in web dev world.</p>
    <h3>
        <%= Math.floor(Math.random()*10)+1 %>
    </h3>
    <button>Say hello!!</button>
</body>

</html>