<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creat New Post</title>
</head>
<body>

    <form submit action="/post" method="post" style="text-align: center;"  >
        <input type="text" name="username" id="name" placeholder="Enter UserName"><br><br>
        <textarea name="content" id="content" placeholder="Enter your content" style="height: 80px;width: 300px;" ></textarea><br>
        <button>Submit Post </button>
    </form>
</body>
</html>