<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post in detail</title>
</head>
<body>
    <h1>Here is your post data in detail.</h1>
    <p>Your id : <%= findPost.id %></p>
    <h3>Your name : @<%= findPost.username %></h3>
    <h4>Your content : <%= findPost.content %> </h4>


</body>
</html>